# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Docker
*.pid
